.date-time-picker {
  display: none;
}
.date-time-picker.show {
  display: flex;
  background-color: white;
  flex-flow: column nowrap;
  position: absolute;
  left: 1rem;
  top: 2rem;
  width: 18rem;
  height: 255px;
  border: 1px solid #e0e0e0;
  padding: 0.5rem 1rem;
}
.date-time-picker .date-time-picker-tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.date-time-picker .date-time-picker-tabs button {
  flex: 1 0 50%;
}
.date-time-picker.date-picker .date-picker-tab,
.date-time-picker.time-picker .time-picker-tab {
  border: 1px solid black;
  background-color: white;
}
.date-time-picker.date-picker .time-picker,
.date-time-picker.time-picker .date-picker {
  position: absolute;
  left: -20rem;
}
.date-time-picker.date-picker .date-picker,
.date-time-picker.time-picker .time-picker {
  flex: 1 0 auto;
  display: flex;
  flex-flow: column nowrap;
}

.calendar-entry,
.manual-entry,
.entry-footer {
  margin: 1rem 0;
}

.date-picker.calendar-entry,
.date-picker.manual-entry {
  margin: 0;
}

.manual-entry label {
  display: block;
}

.date-picker.calendar-entry .calendar-entry,
.date-picker.year-entry .year-entry,
.date-picker.month-entry .month-entry {
  height: 100%;
  margin: 1rem 0;
}
.date-picker.calendar-entry .calendar-entry button,
.date-picker.year-entry .year-entry button,
.date-picker.month-entry .month-entry button {
  height: 34px;
  font-size: 13.3333px;
  border-width: 1px;
  padding: 1px 6px;
}
.date-picker.calendar-entry .calendar-entry select {
  height: unset;
  font-size: unset;
  border-width: 1px;
  padding: unset;
}
.date-picker.calendar-entry .year-entry,
.date-picker.calendar-entry .month-entry,
.date-picker.year-entry .month-entry,
.date-picker.year-entry .calendar-entry,
.date-picker.month-entry .year-entry,
.date-picker.month-entry .calendar-entry {
  height: 0;
  margin: 0;
}
.date-picker.calendar-entry .year-entry button,
.date-picker.calendar-entry .month-entry button,
.date-picker.year-entry .month-entry button,
.date-picker.year-entry .calendar-entry button,
.date-picker.month-entry .year-entry button,
.date-picker.month-entry .calendar-entry button {
  height: 0;
  font-size: 0;
  border-width: 0;
  padding: 0;
}

.date-picker.year-entry .calendar-entry select,
.date-picker.month-entry .calendar-entry select {
  height: 0;
  font-size: 0;
  border-width: 0;
  padding: 0;
}

.date-picker:not(.date-time-picker) .calendar-entry button,
.date-picker:not(.date-time-picker) .year-entry button,
.date-picker:not(.date-time-picker) .month-entry button {
  transition: all ease-in 150ms;
}
.date-picker:not(.date-time-picker) .year-entry,
.date-picker:not(.date-time-picker) .month-entry {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  place-items: stretch center;
  transition: all ease-in 150ms;
}

.calendar-entry-header {
  display: flex;
}

.calendar-entry-header label {
  display: inline-block;
  position: absolute;
  left: -10000px;
}

.month-utc {
  flex: 1 1 30%;
}

.year-utc {
  flex: 1 1 30%;
}

.month-year-selector {
  flex: 1 1 60%;
}

.date-time-picker.show.use-tabs .month-utc,
.date-time-picker.show.use-tabs .year-utc {
  display: none;
}
.date-time-picker.show.use-selects .month-year-selector {
  display: none;
}

.month-nav {
  text-indent: -10000px;
  min-width: 24px;
  border: 1px solid transparent;
  border-radius: 0;
  background: transparent;
  position: relative;
  min-height: 24px;
  padding: 0;
}

.month-nav::before {
  left: 0;
  position: absolute;
  font-size: 1rem;
  top: 0;
  width: 24px;
  height: 24px;
  color: black;
  text-indent: 0;
}

.month-prev-utc::before {
  content: '⮜';
}

.month-next-utc::before {
  content: '⮞';
}

.calendar-entry-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr [day]);
  place-items: stretch center;
  margin: 1rem 0;
}
button.calendar-entry-body-date,
button.year-entry-year,
button.month-entry-month {
  width: 100%;
  height: 34px;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  background: white;
}
button.calendar-entry-body-date:hover,
button.year-entry-year:hover,
button.month-entry-month:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
button.calendar-entry-body-date:disabled,
button.year-entry-year:disabled,
button.month-entry-month:disabled {
  background: white;
  cursor: not-allowed;
}
button.calendar-entry-body-date[data-date-other='true'],
button.year-entry-year[data-date-other='true'],
button.month-entry-month[data-date-other='true'] {
  background-color: rgba(0, 0, 0, 0.025);
  color: #595959;
  font-style: italic;
}
button.calendar-entry-body-date[data-date-other='true']:disabled,
button.year-entry-year[data-date-other='true']:disabled,
button.month-entry-month[data-date-other='true']:disabled {
  background-color: rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
button.calendar-entry-body-date[data-is-today='true'][data-date-other='false'],
button.year-entry-year[data-is-today='true'][data-date-other='false'],
button.month-entry-month[data-is-today='true'][data-date-other='false'] {
  background-color: lemonchiffon;
  color: #000000;
}
button.calendar-entry-body-date[data-is-today='true'][data-date-other='false']:disabled,
button.year-entry-year[data-is-today='true'][data-date-other='false']:disabled,
button.month-entry-month[data-is-today='true'][data-date-other='false']:disabled {
  background-color: white;
  color: #000000;
}
button.calendar-entry-body-date[data-is-selected='true'],
button.year-entry-year[data-is-selected='true'],
button.month-entry-month[data-is-selected='true'] {
  background-color: lightblue;
  color: #000000;
}
button.calendar-entry-body-date[data-is-selected='true'][data-date-other='false']:disabled,
button.year-entry-year[data-is-selected='true'][data-date-other='false']:disabled,
button.month-entry-month[data-is-selected='true'][data-date-other='false']:disabled {
  background-color: lightpink;
  color: #000000;
}
.date-time-picker :is(input, select, textarea) {
  min-height: 32px;
}
.date-time-picker.time-picker :is(input, select, textarea) + button {
  min-height: 38px;
}
.date-time-picker :is(input, select, textarea):invalid {
  border-color: red;
}

[data-possible="true"] {
  background-color: lightyellow;
}
[data-possible="true"][data-probable="true"] {
  background-color: lightgreen;
}

button.picker-footer {
  min-height: 34px;
  border-style: solid;
  border-width: 1px;
}

div.picker-footer {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
  order: 4;
  gap: 1rem;
}

.picker-footer-cancel {
  background: transparent;
}

.picker-footer-submit {
  background: orange;
  color: black;
}
